# Data Science Toos and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

**Objectives:**
+ List popular languages for Data Science
+ Learn how to use Jupyter Notebook
+ Learn how to use Github

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
|:---|
|Jupyter Notebook|
|Apache Spark|
|MATLAB|

In [2]:
# There is a bug for the above markdown when create a table for Mac

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5

17

In [10]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author
Ge Yan